:root {
    --laber-bgr-color: #000000;
    --social-footer-color: rgba(255, 255, 255, 0,6);
    --first-bloc-color: #ffffff;
    --label-first-part: ;
    --accent-text-color: #2196F3;
    --tatle-text-color: #212121;
}
.list {
    color: var(--tatle-text-color);
}
.link:hover,.link:focus {
color: var(--accent-text-color);
}

.list {
    list-style: none;
}

